<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HeroStatus_64x64_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,632},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>about.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,2},{154,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,52}}</string>
                <key>sourceSize</key>
                <string>{154,52}</string>
            </dict>
            <key>aboutA.png</key>
            <dict>
                <key>frame</key>
                <string>{{671,94},{221,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,49}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>aboutB.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,94},{221,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,49}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>back.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,711},{233,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{233,31}}</string>
                <key>sourceSize</key>
                <string>{233,31}</string>
            </dict>
            <key>back_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,711},{213,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{213,256}}</string>
                <key>sourceSize</key>
                <string>{213,256}</string>
            </dict>
            <key>back_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,94},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>back_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{957,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{957,90}}</string>
                <key>sourceSize</key>
                <string>{957,90}</string>
            </dict>
            <key>continueA.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,711},{221,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,49}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>continueB.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,969},{221,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,49}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>enemy.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,344},{126,149}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,149}}</string>
                <key>sourceSize</key>
                <string>{126,149}</string>
            </dict>
            <key>gameover.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{551,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{551,256}}</string>
                <key>sourceSize</key>
                <string>{551,256}</string>
            </dict>
            <key>newgameA.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,94},{221,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,49}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>newgameB.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{221,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{221,49}}</string>
                <key>sourceSize</key>
                <string>{221,49}</string>
            </dict>
            <key>road_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,145},{108,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,126}}</string>
                <key>sourceSize</key>
                <string>{108,126}</string>
            </dict>
            <key>road_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,305},{128,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,126}}</string>
                <key>sourceSize</key>
                <string>{128,126}</string>
            </dict>
            <key>road_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,880},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>road_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,145},{108,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{108,128}}</string>
                <key>sourceSize</key>
                <string>{108,128}</string>
            </dict>
            <key>road_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,344},{128,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,117}}</string>
                <key>sourceSize</key>
                <string>{128,117}</string>
            </dict>
            <key>s_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,145},{158,176}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,60},{158,176}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>s_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,344},{156,176}}</string>
                <key>offset</key>
                <string>{2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,60},{156,176}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>s_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,698},{164,180}}</string>
                <key>offset</key>
                <string>{1,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,57},{164,180}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>s_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,446},{184,182}}</string>
                <key>offset</key>
                <string>{4,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,55},{184,182}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>s_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,522},{164,168}}</string>
                <key>offset</key>
                <string>{6,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,67},{164,168}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>s_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,145},{158,176}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,60},{158,176}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>s_hurt.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,258},{186,182}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,34},{186,182}}</string>
                <key>sourceSize</key>
                <string>{200,250}</string>
            </dict>
            <key>score.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,158},{98,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,31}}</string>
                <key>sourceSize</key>
                <string>{98,31}</string>
            </dict>
            <key>sound-off-A.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,433},{90,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{90,80}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>sound-off-B.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,252},{90,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{90,80}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>sound-on-A.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,160},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>sound-on-B.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,934},{90,82}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,82}}</string>
                <key>sourceSize</key>
                <string>{90,82}</string>
            </dict>
            <key>star_backup.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,946},{73,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,71}}</string>
                <key>sourceSize</key>
                <string>{73,71}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>main.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5d4121bfb55f8c8e7511e06a202b3e4:73d8c7d05eb7bf5637ff88cbae06ea76:693584bbba79ecadf35d6b2cf3a849c9$</string>
            <key>textureFileName</key>
            <string>main.png</string>
        </dict>
    </dict>
</plist>
