<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Pg_br_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{431,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{431,65}}</string>
                <key>sourceSize</key>
                <string>{431,65}</string>
            </dict>
            <key>Pg_br_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,69},{391,33}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{391,33}}</string>
                <key>sourceSize</key>
                <string>{391,33}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>PG.png</string>
            <key>size</key>
            <string>{435,104}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cf2501bf42731d72cac81a2bea1b575b:0d03b5dc1aed97fb8d43282228102123:623324867643c00c9de7ce2df641103a$</string>
            <key>textureFileName</key>
            <string>PG.png</string>
        </dict>
    </dict>
</plist>
